.spacer {
    flex: 1 1 auto;
  }

.mat-toolbar{
    background-color: #0C0C0C;
    color: #DCCA87;
}

.example-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  color: #DCCA87;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

ul{
  color: #DCCA87;
  list-style-type: none;
  font-size: 25px;
  display: grid;
  gap: 40px;
}

li:hover{
  cursor:pointer;
}

.cross{
  cursor:pointer;
  width: 12px;
  overflow-y: hidden;
}