<div class="login">
    <div class="form">
        <h1> Página de Administrador</h1>
        <br>
        <div class="formContent">
            <mat-form-field appearance="legacy">
                <mat-label>Usuario</mat-label>
                <input matInput [(ngModel)]="email" placeholder="">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Contraseña</mat-label>
                <input type="password" [(ngModel)]="password" matInput placeholder="">
            </mat-form-field>
            <button mat-raised-button (click)="login()">
            Iniciar Sesión
            </button>
        </div>
    </div>
</div>
