.login{
    background-image: url('../../../assets/bg.png');
    background-position: center;  
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.form{
    background-color: #0C0C0C;
    width: 80%;
    height: 80%;
    border-radius: 3%;
    border: 2px solid #DCCA87;
    color:white
}

.formContent{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



h1{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: #F5EFDB;
}

 //  --color-golden: #DCCA87;
 // --color-black: #0C0C0C;
 // --color-gray: #545454;
 // --color-crimson: #F5EFDB;
 // --color-grey: #AAAAAA;
  // --color-white: #FFFFFF;