<div class="login">
    <div class="form">
        <h1> Página de Administrador</h1>
        <br>
        <div class="formContent">
            <mat-form-field appearance="legacy">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
            <button mat-raised-button>
            Iniciar Sesión
            </button>
             
        </div>
    </div>
</div>
