<app-navbar></app-navbar>

<div class="hero">
  <div class="heroText">
    <h1 class="heroTitle"> One Life Clothing</h1>
    <div >
    <button mat-stroked-button id="btn1">Personaliza tu diseño</button>
    </div>
    <br>
    <div>
    <button mat-stroked-button id="btn2">Compra ahora!</button>
    </div>
    
  </div>
  <div class="heroBG">
    
  </div>
</div>  

<div class="featuredProducts">
  <br>
  <h1 style="color:#DCCA87;"> Productos destacados</h1>

<app-shirt-card class='card'>

</app-shirt-card>
</div>

  


<app-footer></app-footer>  