.content{
    height:100vh; 
    background-image: url('../../../assets/bg.png');
}

.card{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h1{
    color: #DCCA87;
    text-align: center;
    
}

