<h1 mat-dialog-title align="center">Detalle de venta</h1>



<h3> ID de venta: {{data.id}}</h3>
<h3> Monto de transaccion: $ {{data.monto}}</h3>

<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Informacion de cliente
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h4>Nombre Completo: {{data.userData.contacto.firstCtrl}} {{data.userData.contacto.firstCtrl1}} </h4>
  <h4>Telefono: {{data.userData.contacto.firstCtrl2}}  </h4>
  <h4>Correo Electronico: {{data.userData.contacto.firstCtrl3}} </h4>
  <h4>Direccion de envio: {{data.userData.direccion.secondCtrl}}, {{data.userData.direccion.secondCtrl1}}, {{data.userData.direccion.secondCtrl2}}, {{data.userData.direccion.secondCtrl3}}, {{data.userData.direccion.secondCtrl4}},</h4>
</mat-expansion-panel>
<br>
<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Productos comprados 
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h4 *ngFor="let item of data.items;index as i"> {{i+1}}.- {{item.item.nombre}}, cantidad: {{item.quantity}}, talla: {{item.size}}, monto: $ {{item.item.precio * item.quantity}}</h4>
</mat-expansion-panel>