.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    border-top: 1px solid #DCCA87;
    padding:0 !important;
}

.card{
    //background-color:rgba(232, 241, 57, 0.4);
    border: 1px solid #DCCA87;
    max-width: 200px;
    padding: 16px;
    
}

.card:hover{
    cursor:pointer;
    background:linear-gradient(rgba(220, 202, 135, 0.6), rgba(85, 83, 83, 0.6))
}

img{
    max-height: 232px;
}





 //  --color-golden: #DCCA87;
 // --color-black: #0C0C0C;
 // --color-gray: #545454;
 // --color-crimson: #F5EFDB;
 // --color-grey: #AAAAAA;
  // --color-white: #FFFFFF;
