.header{
    display: flex;
    justify-content: center;
    color: #DCCA87;
    margin-top: 10px;
    align-items: center;
    align-content: center;
}
.a123{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}